<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">últimas noticias</h2>
            <h3 class="section-subheading text-muted">Últimas noticias referentes a la cooperativa</h3>
        </div>
        <div class="row">
            <div *ngFor="let noticia of noticias" class="col-lg-4 col-sm-6 mb-4">
                <div *ngIf="noticia.id<=3" class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{noticia.id}}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"></div>
                        </div>
                        <img class="img-fluid" src="http://alum2.iesfsl.org:81/imagenes/noticias/{{noticia.imagen_src}}" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{ noticia.titular }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal 1-->
<div *ngFor="let noticia of noticias" class="portfolio-modal modal fade" id="portfolioModal{{noticia.id}}" tabindex="-1"
    role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="./assets/imgs/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase">{{noticia.titular}}</h2>
                            <img class="img-fluid2 d-block mx-auto" src="http://alum2.iesfsl.org:81/imagenes/noticias/{{noticia.imagen_src}}" alt="" />
                            <p class="item-intro text-muted">{{noticia.cuerpo}}</p>
                            
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times mr-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>