<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/#principio"><!--routerLink-->
            <img id="logo-home" src="./assets/imgs/logo.png" alt="" />
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu<i class="fas fa-bars ml-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto" style="text-align:center">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#principio">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/listaServicios/#principio">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href='/listaNoticias/#principio'>Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href='/resumen/#principio'>Resumen</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contacto</a>
                </li>-->
                <li class="nav-item">
                    <a id="login" class="nav-link js-scroll-trigger text-warning" href="/login">INICIAR SESION</a>
                </li>
            </ul>
        </div>
    </div>
</nav>