<!-- Services-->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Modifica tus datos aquí</div>
    <div class="masthead-heading text-uppercase">Tu perfil personal</div>
  </div>
</header>
<section class="page-section bg-light" id="services" id="principio2">
  <div class="container">
    <div class="container">
      <div class="row">
        <h2 id="tit_principal" class="col-md-12">Mi configuración</h2>
        <div class="col-md-3" id="menu">
          <h3 class="pestañas" id="sel">Información personal</h3>
          <hr>
          <a class='enlacle' href="/cambiarPass/#principio2">
            <h3 class="pestañas">Cambio de contraseña</h3>
          </a>
          <hr>
          <a class='enlacle' href="/privacidad/#principio2">
            <h3 class="pestañas">Privacidad</h3>
          </a>
          <hr>
        </div>
        <div class="col-md-9">
          <div class="row" id="secundario">
            <div class="col-md-12">
              <h3 id="tit">Información personal</h3>
            </div>

            <div class="col-md-3" id="foto">
              <div class="row">
                <div class="col-md-12">
                  <img src="http://localhost/tucoop/backend/web/imagenes/perfil/{{this.usuario.imagen_src}}" alt="foto de perfil"
                    width="100" height="100">
                </div>

                <div class="col-md-12 form-group">
                  <label>Imagen de perfil</label>
                  <!--
                    <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton"
                      type="submit">Subir imagen</button>
                  -->
                </div>
              </div>
            </div>

            <div class="col-md-9">
              <div class="row">
                <div class="col-md-6 form-group">
                  <label>Nombre</label><br>
                  <input class="datos_form form-control" type="text" value="{{usuario.nombre}}" readonly>
                </div>
                <div class="col-md-6 form-group">
                  <label>Apellidos</label><br>
                  <input class="datos_form form-control" type="text" value="{{usuario.apellidos}}" readonly>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label>Email</label><br>
                  <input id="email2" class='form-control' type="text" value="{{usuario.mail}}" readonly>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group">
                  <label>Dirección</label><br>
                  <input class="datos_form form-control" type="text" value="{{usuario.direccion}}" readonly>
                </div>

                <div class="col-md-6 form-group">
                  <label>Código postal</label><br>
                  <input class="datos_form form-control" type="text" value="{{usuario.cp}}" readonly>
                </div>
              </div>
              <!--
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton"
                            type="submit">Guardar cambios</button>
                        </div>
                </div>
               -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>