<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">Resumenes de esta temporada</div>
    </div>
</header>
<section class="page-section bg-light" id="resumenServicios">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Tu resumen</h2>
            <h3 class="section-subheading text-muted">Resumen de tus gestiones</h3>
        </div>
        <div class="row">
            <div class="text-center col-md-6">
                <h3 class="section-subheading text-muted">Analiza tus Beneficios</h3>
                <div class='graficos'>
                    <canvas baseChart 
                        [datasets]="benBarChartData" 
                        [labels]="benBarChartLabels"
                        [options]="benBarChartOptions" 
                        [plugins]="benBarChartPlugins" 
                        [legend]="benBarChartLegend" 
                        [colors]="benLineChartColors"
                        [chartType]="benBarChartType">
                    </canvas>
                </div>
            </div>
            <div class="text-center col-md-6">
                <h3 class="section-subheading text-muted">Analiza tus Gastos</h3>
                <div class='graficos'>
                    <canvas baseChart 
                        [datasets]="gastBarChartData" 
                        [labels]="gastBarChartLabels"
                        [options]="gastBarChartOptions"
                        [plugins]="gastBarChartPlugins"  
                        [legend]="gastBarChartLegend" 
                        [colors]="gastLineChartColors"
                        [chartType]="gastBarChartType">
                    </canvas>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div id="kilos" class="text-center col-md-9 ">
                <h3 class="section-subheading text-muted">Analiza tus productos</h3>
                <div class='graficos'>
                    <canvas baseChart 
                        [datasets]="prodBarChartData" 
                        [labels]="prodBarChartLabels"
                        [options]="prodBarChartOptions"
                        [plugins]="prodBarChartPlugins"  
                        [legend]="prodBarChartLegend" 
                        [colors]="prodLineChartColors"
                        [chartType]="prodBarChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</section>